{
  "env": {
    "es6": true,
    "node": true
  },
  "ecmaFeatures": {
    "modules": true,
    "arrowFunctions": true,
    "blockBindings": true,
    "classes": true,
    "forOf": true,
    "objectLiteralShorthandMethods": true,
    "objectLiteralShorthandProperties": true,
    "templateStrings": true
  }
}
